body {
  background: #ABABAB !important;
}


    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
	
	
	.menubtn {
    margin-bottom: 10px !important;
    width: 130px;
    text-align: center;
    font-size: 16px;
    padding: 6px;
    border-radius: 10px;
    margin: 0px 3px 10px 20px;
    min-width: 80px;
    height: 40px;
    font-weight: bold;
    box-shadow: 0px 2px 0px 0px #398439;
    border: 1px solid #398439;
    }
	
	
	.center-cont {
      margin-top: 20px !important;
      background-color: white;
      border: 3px solid;
      border-radius: 35px;
      padding: 3.5%;
      width: 66%;
    }
	
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #ABABAB;;
      height: 100%;
	  
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: gray;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }


.right-menu-area {
    position: fixed;
    width: 15%;
    margin-top: 20px;
}

ul.right_menu {
    list-style: none;
    position: relative;
    right: 25px;
}

ul.right_menu > li {
    
}
ul.right_menu > li > button {

}

.left-nav-bar {
  background-color: white;
  border: 2px solid #7f7f7f;
  border-radius: 34px;
  height: 95%;
  width: 15%;
  padding: 10px;
  position: fixed;
}


/*#cke_1_top, #cke_1_bottom {
  display: none;
}*/